.main-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.inner-wrapper {
    padding: 16px 16px;
}

.header-content {
    justify-content: space-between;
}

.header-style {
    font-weight: 700;
}

.img-wrapper {
    margin-bottom: 32px;
    margin-top: 0;
}

.img-content {
    display: block;
    width: 100%;
    min-height: 1px;
}

.author-date-box {
    margin-bottom: 10px;
}
img {
    width: inherit;
}

p {
    font-size: 18px;
}

a {
    color: #636363;
    text-decoration: none;
    width: 100%;
    display: block;
}

.more-link {
    margin-top: 24px;
    border: 1px solid #c7c7c7;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}